body {
    font-family: sans-serif;
}


.bg-2c3e50 {
    background-color: #2c3e50;
}



.c-yellow {
   background-color: rgb(219, 219, 163);
}

.jumbotron {
    background-color: #1abc9c;
    height: 400px;
    display: flex;
    align-items: center;
}

.j-style {
    height: 350px;
}

.portfolio {
    padding-top: 30px;
    color: rgb(19, 39, 51);
}

.p-style {
    width: 350px;
    height: 250px;
    background-color: rgb(177, 46, 72);
    border-radius: 20px;
    margin-bottom: 20px;
}

.p-align {
    justify-content: space-around;
    align-items: center;
}

.about {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    background-color: #1abc9c;
   
}

.p-about {
    margin-bottom: 20px;

}

.form {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pad-50 {
    padding-left: 50px;
    padding-right: 50px;
    text-align: left;

}

.info-site {
    padding: 30px;
    background-color: rgb(45, 68, 110);
}

.info-site .c-yellow {
    height: 100px;
    margin-bottom: 20px;
}

.copyright-info {
    height: 60px;
    background-color: rgb(26, 25, 70);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;

}






